ul{list-style-type: none;}
h2{color: yellow;}
.personal{ color: silver;}
.dollar1{color: silver;}
.team{color: yellow;}
.corporate{color: red;}
.dollar2{color: yellow;}
.dollar3{color: red;}
body{text-align: center;}
strong{color: black;}
ul{color: silver;}